<h1><%= title %></h1>
<% if(locals.user){ %>
<section id="interviews-data">
    <h2>Interviews Data</h2>
    <form action="/interview/add" id="add-interview" method="POST">
        <input type="text" name="company" placeholder="Enter Company Name" required><br>
        <input type="date" name="date" placeholder="Enter Date of Interview" required><br>
        <input type="text" name="CTC" placeholder="Enter CTC" required><br>
        <input type="submit" value="Add Interview">
    </form>
</section>

<section id="view-all-company-details">
    <% for(data of all_interviews) { %>
        <ul>
            <li id="interview<%= data._id %>">
                <a href="/interview/profile/<%= data._id %>"><%= data.company %></a>
            </li>
        </ul>
    <% } %>
</section>

<% } %>